
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-code:before { content: '\e802'; } /* '' */
.icon-briefcase:before { content: '\e803'; } /* '' */
.icon-clock:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-github-circled-1:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-youtube-squared:before { content: '\f166'; } /* '' */
.icon-googleplus-rect:before { content: '\f309'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */